@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.custom-shadow {
  box-shadow: none;
  transition: all 200ms ;
}

.custom-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px -3px,
    rgba(0, 0, 0, 0.1) 0px -3px 0px inset, rgba(-4, 0, 0, 0.3) 0px 0px 4px;
}
