@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.custom-shadow {
  box-shadow: none;
  transition: all 200ms;
}

.custom-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 13px -3px,
    rgba(0, 0, 0, 0.1) 0px -3px 0px inset, rgba(-4, 0, 0, 0.3) 0px 0px 4px;
}

.category-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.gradient-favourit {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.rating {
  display: flex;
}

.rating.input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
}

.rating input:checked + label ~ label {
  color: black;
}

.reverse-star {
  transform: rotateY(180deg);
}

.link {
  @apply p-2.5 rounded-md gap-6 flex items-center md:cursor-pointer
  cursor-default duration-300 font-medium hover:bg-blue-200 hover:text-blue-600;
}

.active {
  @apply bg-blue-100 text-blue-600;
}

.shadow-sidebar {
  box-shadow: 1px 1px 5px grey;
}
